.grid {
     
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-auto-rows: 50px;
     
         
}

.one, .three, .five, .seven, .nine {
    background-color: blue;
    border: 3px solid black;
}



.two, .four, .six, .eight {
    background-color: red;
    border: 3px solid black;
}